/*Navigations Bar Style*/
header {
  position: relative;
  padding: 10px;
  height: 100px;
  width: auto;
  background-color: #d4b4a1;
}

#nav button {
  float: right;
  margin: 10px;
  background-color: #d9d9d9;
  font-family: 'Irish Grover';
  font-size: 18px;
  padding: 9px 18px;
  border-radius: 5px;
}

#nav h1 {
  float: left;
}

a {
  display: block;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

/* Main */

body {
  text-align: center;
  font-family: 'Irish Grover';
  background-color: #cabcab;
}

/* hero */
.index_pic {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.index_pic > img {
  width: 100%;
  height: auto;
}

.Ueberschrift_mit_farbhintergrund {
  text-align: center;
  background-color: #d9d9d9;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#impressumstext {
  margin: 10vh;
  font-size: 18px;
}

.bilder_galerie > img {
  margin: 20px;
}

.preisbild {
  align-items: center;
}

button {
  background-color: #d9d9d9;
  font-family: 'Irish Grover';
  font-size: 18px;
  padding: 9px 18px;
  color: black;
  border-radius: 5px;
}

#footer {
  position: relative;
  bottom: 0vh;
  width: 100%;
  height: auto;
  text-align: center;
}

footer {
  background-color: #d4b4a1;
  padding: 10px;
}
